<body>
  <div class="navbar">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR8YrcFCPbj_x4P9KKtC7L4eH8NMNV8NDE2Q&s" 
         alt="Logo UTNG" 
         class="logo" 
         (click)="showCarruselNoticias()">    
    <div>
      <div class="image-container">
        <button mat-icon-button [matMenuTriggerFor]="Notification">
          <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #Notification="matMenu">
          <span>
            Hola!, Aquí te mostraremos  
            Notificaciones sobre cosas 
            que pasen en la Biblioteca..
          </span>
        </mat-menu>
      </div>

      <div class="image-container">
        <button mat-icon-button [matMenuTriggerFor]="Question">
          <mat-icon>help</mat-icon>
        </button>
        <mat-menu #Question="matMenu">
          <span>
            Hola!, Aquí te mostraremos  
            Información relacionada a la página
            y algún contacto para soporte 
            Técnico...
          </span>
        </mat-menu>
      </div>

      <div class="image-container">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngIf="userProfile" class="user-profile" (click)="openUserDetails()">
            <img [src]="'https://cdn.discordapp.com/avatars/' + userProfile.id + '/' + userProfile.avatar + '.png'" alt="Avatar" class="avatar">
            <div class="user-info">
              <p class="username">{{ userProfile.username }}</p>
            </div>
          </div>
          <button mat-menu-item (click)="logout()">
            <span>Cerrar Sesión</span>
          </button>
        </mat-menu>
      </div>

      <button mat-button (click)="showGoogleSearch()">Buscar en Google</button>
    </div>
  </div>

  <div class="main-layout">
    <div class="sidebar" id="sidebar" [ngClass]="{'hidden': isSidebarHidden}">
      <ul>
        <li><a (click)="showCarruselNoticias()">Inicio</a></li>
        <li><a (click)="showSearchBooks()">Buscar libros</a></li>
        <li><a (click)="showRegistroLectores()">Registrar lectores</a></li>
        <li><a (click)="showNewBook()">Registrar libros</a></li>
        <li><a (click)="showMulta()">Gestionar Multas</a></li>
        <li><a (click)="showPersonalisado()">Generar reporte</a></li>
        <li><a (click)="showGestionarNoticias()">Gestionar Noticias</a></li>
        <li><a (click)="showRegistroBlibliotecarios()">Nuevos Bibliotecarios</a></li>
        <li><a (click)="mostrarDevolucionDeLibros()">Devolver Libros</a></li>
        <li><a (click)="verEventosCercanos()">Ver eventos cercanos</a></li>
        <li><a (click)="showGoogleBooksSearch()">Buscar en Google Books</a></li> 
        <li><a (click)="displayPayPal()">Pagar con PayPal</a></li>
        <li><a (click)="showArchive()">Ver Archive.org</a></li>
        <li><a (click)="showTwilioComponent()">Enviar Mensaje por WhatsApp</a></li>
        <li><a (click)="iniciarConferencia()">Iniciar Conferencia</a></li>
      </ul>
    </div>

    <div class="content-section" [ngClass]="{'full-width': isSidebarHidden}">
      <app-google-search *ngIf="showGoogleSearchComponent"></app-google-search>
      <div *ngIf="showNoticias" class="carrusel-noticias show">
        <div class="noticias-carousel">
          <div class="noticia-item" *ngFor="let noticia of noticiasItems" (click)="verEventosCercanos()">
            <h3>{{ noticia.Titulo }}</h3>
            <p>{{ noticia.Contenido }}</p>
            <img *ngIf="noticia.Imagen" [src]="noticia.Imagen" alt="{{ noticia.Titulo }}" />
            <li><a (click)="verEventosCercanos()">Ver Locacion</a></li>
          </div>
        </div>
      </div>
      <div *ngIf="showPayPal">
        <app-paypal-button></app-paypal-button>
      </div>
      <div *ngIf="showSearch">
        <app-search-books></app-search-books>
      </div>
      <div *ngIf="showNewBooks">
        <app-newbooks></app-newbooks>
      </div>
      <div *ngIf="showMultas">
        <app-multas></app-multas>
      </div>
      <div *ngIf="showRegistroBibliotecarios">
        <app-bibliotecarios></app-bibliotecarios>
      </div>
      <div *ngIf="showLectores">
        <app-registro-lector></app-registro-lector>
      </div>
      <div *ngIf="showReporte">
        <app-personalizado></app-personalizado>
      </div>
      <div *ngIf="showDevolucionDeLibros">
        <app-devolucion-de-libros></app-devolucion-de-libros>
      </div>
      <div *ngIf="showGestionNoticias">
        <app-noticias></app-noticias>
      </div>
      <div *ngIf="showGoogleBooks">
        <app-google-books-search></app-google-books-search>
      </div>
      <div *ngIf="isArchiveVisible">
        <app-archive></app-archive>
      </div>
      <div *ngIf="showTwilio">
        <app-twilio></app-twilio>
      </div>
      <div *ngIf="showConferencia">
        <app-conferencia></app-conferencia>
      </div>
  
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Universidad Tecnológica del Norte de Guanajuato. Todos los derechos reservados.</p>
    </div>
  </footer>

  <!-- Modal para mostrar detalles del usuario -->
  <div *ngIf="showUserDetails" class="user-details-modal">
    <div class="modal-content">
      <span class="close" (click)="closeUserDetails()">&times;</span>
      <h2>Detalles del Usuario</h2>
      <p><strong>Nombre:</strong> {{ userProfile.username }}</p>
      <p><strong>Email:</strong> {{ userProfile.email }}</p>
      <p><strong>Idioma:</strong> {{ userProfile.locale }}</p> <!-- Muestra el idioma del usuario -->
      <p><strong>Servidores:</strong></p>
      <ul>
        <li *ngFor="let guild of userGuilds">{{ guild.name }}</li>
      </ul>
      <p><strong>Conexiones:</strong></p>
      <ul>
        <li *ngFor="let connection of userProfile.connections">{{ connection.type }}: {{ connection.name }}</li>
      </ul>
    </div>
  </div>
</body>
